.hidden {
    display: none;
}
#btn1{
    position: absolute;
    margin:80px auto;
    left: 600px;
    border: 1px solid black;
    width: 150px;
    height: 40px;

}
#appearance{
    position: absolute;
    left: 400px;
    top: 200px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}